* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}

button[type="button"] {
    padding: .5rem 1rem;
    border: 1px solid #aaa;
    border-radius: 3px;
    cursor: pointer;

    &:hover {
        background: #ddd;
    }
}

.active {
    display: block;
}

.flashBox {
    padding: 0;
}
.flashBox ul li {
    display: none;
}
.flashBox ul.imgList li img {
    max-width: 100%;
}
.flashBox ul.imgList li.active {
    display: block;
}
.flashBox .left {
    left: 10px;
}
.flashBox .right {
    right: 10px;
}


.flashBox ul.dotList {
    text-align: center;
    display: block;
    position: relative;
    bottom: 30px;
    margin: 0 auto;
}
.flashBox ul.dotList li {
    display: block;
    background: rgba(64, 86, 255, 0.3);
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 10px;
    cursor: pointer;
}
.flashBox ul.dotList li.active {
    background: rgba(64, 86, 255, 0.8);
}

.displayBox {

}
.displayBox strong {
    font-size: 1.3rem;
}
.displayBox ul li {

    height: 600px;
    /* &:first-child{
        margin-left: 0;
    }
    &:last-child{
        margin-right: 0;
    } */
}

/*------ GridView ------*/
.gridViewColumn {
    font-size: .8rem;
    border: 1px solid #ddd;
    padding: .3rem .5rem;
}
.gridViewColumn:nth-child(n) {
    border-top-width: 0;
    border-left-width: 0;
}
/*------ GridView End ------*/